.container table {
    margin-right: auto;
    margin-left: auto;
}
main .container {
    text-align: center;
}
.container table td {
    margin: 5px;
    padding: 5px;
}
.categories{
    top: 3% !important;
}
.search {
    background-color: white;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 5px;
}
.search button{
    background-color: white;
}
.search * {
    margin: 0;
}
.search input{
    background-color: white;
    text-align: center;
    padding: 5px;
    width: 300px;
    border: 1px solid black;
}
.search select{
    background-color: white;
    border: none;
    padding: 7px;
}
.search select:active, .search select:focus, .search input:focus{
    outline: none;
}
table caption{
    caption-side: top;
    text-align: center;
}
.pagination{
    display: block;
    margin-right: auto;
    margin-left: auto;
}