/* Header */
@media (max-width: 767px) {
    .left-nav .col-md-4, .left-nav .col-1 {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
    .product button{
        align-items: center;
    }
}
.img-fluid{
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
.product-img{
    width: 100%;
    vertical-align: center;
    margin: 0 0 10px 0;
}
.product{
    text-align: center;
    margin-top: auto;
}
.product button{
    margin: 10px;
}
.products{
    margin-top: 20px;
}
.products button{
    background-color: white;
    border: none;
    padding: 10px;
}
.products button:hover{
    background-color: orange;
}
.categories{
    margin-top: 10px;
}
.category{
    text-align: center;
    margin-top: auto;
}
.category-img{
    width: 100%;
    vertical-align: center;
    margin: 0 0 10px 0;
}
.category a{
    text-decoration: none;
}
