html{
    height: 100%;
}
body{
    height: 100%;
}
#app{
    height: 100%;
    display: grid;
    grid-template-rows: max-content auto max-content;
}
.wrapper {
    height: 100%;
}
main{
    margin-bottom: 5%;
}
button{
    margin: 20px;
    border: none;
    background-color: rgba(254,254,254,0);
    padding: 10px;
}
button:hover{
    background-color: orange;
}
.carousel button:hover{
    background-color: rgba(254,254,245,0);
}
button:focus{
    outline: none;
}
.footer-wrap{
    margin-top: auto;
    background-color: rgba(240, 240, 240, 0.7);
    padding: 15px;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-row: 3/4;
}
.footer-wrap a{
    text-decoration: none;
    color: black
}
.footer-wrap h1{
    vertical-align: center;
}
.nav-item{
    display: inline;
    margin: 10px;
}
.col-1{
    min-width: max-content;
}
.drop-down ul{
    list-style: none;
    padding: 0;
}
.drop-down li{
    margin: 5px;
    padding: 10px 10px 10px 10px;
}
.drop-down li:hover{
    background-color: orange;
    cursor: pointer;
}
.drop-down{
    display: none;
    position: absolute;
    background: white;
}
.drop-trigger:hover .drop-down{
    display: block;
}
nav{
    margin-top: 5px;
}
.nav-item a{
    text-decoration: none;
    color: black;
}
@media (max-width: 767px) {
    .left-nav .col-md-4, .left-nav .col-1 {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

}