form{
    margin-top: 50px;
    background-color: white;
    width: max-content;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}
.form input{
    background-color: white;
    padding: 5px;
    margin-top: 10px;
    border: black solid 1px;
}
.form label{
    margin-top: 10px;
}
.btn{
    margin-top: 20px;
    border: none;
    background-color: orange;
    padding: 10px;
}