/* Header */
.black{
    background: black;
}
.nav-item{
    display: inline;
    margin: 10px;
}
.col-1{
    min-width: max-content;
}
nav{
    margin-top: 5px;
}
.nav-item a{
    text-decoration: none;
    color: black;
}
@media (max-width: 767px) {
    .left-nav .col-md-4, .left-nav .col-1 {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

}
.img-fluid{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.product-img{
    width: 100%;
    vertical-align: center;
    margin: 0 0 10px 0;
}
.product{
    text-align: center;
    margin-top: auto;
}
.product button{
    margin: 10px;
}
.products{
    margin-top: 20px;
}
.categories{
    margin-top: 10px;
}
.category{
    text-align: center;
    margin-top: auto;
}
.category-img{
    width: 100%;
    vertical-align: center;
    margin: 0 0 10px 0;
}
.category a{
    text-decoration: none;
}
