<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="basket">
                    <ul>
                        <li>
                            <div class="product">
                                <div class="grid">
                                <img class="rounded img-fluid product-img" src="../images/products/dxracer.jpg">
                                    <div class="info">
                                        <h3>Игровое кресло</h3>
                                        <strong>2700 грн</strong>
                                        <div class="counter">
                                            <button name="-">-</button>
                                            <input type="text" value="1" size="3" name="count">
                                            <button name="+">+</button>
                                        </div>
                                    </div>
                                <button>Убрать</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <div class="grid">
                                    <img class="rounded img-fluid product-img" src="../images/products/phone.jpg">
                                    <div class="info">
                                        <h3>Телефон Asus</h3>
                                        <strong>6700 грн</strong>
                                        <div class="counter">
                                            <button name="-">-</button>
                                            <input type="text" value="1" size="3" name="count">
                                            <button name="+">+</button>
                                        </div>
                                    </div>
                                    <button>Убрать</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="total">
                            <strong>Итог: 9400 грн</strong><br/>
                            <button>Перейти к оформлению</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>