<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">

                <div class="products">
                    <h3>Товары</h3><hr/>
                    <div class="row">
                        <div class="col-4 col-md-2 product">
                            <img class="rounded img-fluid product-img" src="../images/products/teddy-bear.jpg">
                            <p>Плюшевый мишка</p>
                            <strong>350 грн</strong><br/>
                            <button>В корзину</button>
                        </div>
                        <div class="col-4 col-md-2 product">
                            <img class="rounded img-fluid product-img" src="../images/products/dxracer.jpg">
                            <p>Игровое кресло</p>
                            <strong>2700 грн</strong><br/>
                            <button>В корзину</button>
                        </div>
                        <div class="col-4 col-md-2 product">
                            <img class="rounded img-fluid product-img" src="../images/products/coca-cola.jpg">
                            <p>Напиток</p>
                            <strong>16 грн</strong><br/>
                            <button>В корзину</button>
                        </div>
                        <div class="col-4 col-md-2 product">
                            <img class="rounded img-fluid product-img" src="../images/products/phone.jpg">
                            <p>Телефон Asus</p>
                            <strong>6700 грн</strong><br/>
                            <button>В корзину</button>
                        </div>
                        <div class="col-4 col-md-2 product">
                            <img class="rounded img-fluid product-img" src="../images/products/acer.jpg">
                            <p>Монитор Acer</p>
                            <strong>9400 грн</strong><br/>
                            <button>В корзину</button>
                        </div>
                        <div class="col-4 col-md-2 product">
                            <img class="rounded img-fluid product-img" src="../images/products/sweter.jpg">
                            <p>Свитер</p>
                            <strong>760 грн</strong><br/>
                            <button>В корзину</button>
                        </div>
                        <div class="col-4 col-md-2 product">
                            <img class="rounded img-fluid product-img" src="../images/products/teddy-bear.jpg">
                            <p>Плюшевый мишка</p>
                            <strong>350 грн</strong><br/>
                            <button>В корзину</button>
                        </div>
                        <div class="col-4 col-md-2 product">
                            <img class="rounded img-fluid product-img" src="../images/products/dxracer.jpg">
                            <p>Игровое кресло</p>
                            <strong>2700 грн</strong><br/>
                            <button>В корзину</button>
                        </div>
                        <div class="col-4 col-md-2 product">
                            <img class="rounded img-fluid product-img" src="../images/products/coca-cola.jpg">
                            <p>Напиток</p>
                            <strong>16 грн</strong><br/>
                            <button>В корзину</button>
                        </div>
                        <div class="col-4 col-md-2 product">
                            <img class="rounded img-fluid product-img" src="../images/products/phone.jpg">
                            <p>Телефон Asus</p>
                            <strong>6700 грн</strong><br/>
                            <button>В корзину</button>
                        </div>
                        <div class="col-4 col-md-2 product">
                            <img class="rounded img-fluid product-img" src="../images/products/acer.jpg">
                            <p>Монитор Acer</p>
                            <strong>9400 грн</strong><br/>
                            <button>В корзину</button>
                        </div>
                        <div class="col-4 col-md-2 product">
                            <img class="rounded img-fluid product-img" src="../images/products/sweter.jpg">
                            <p>Свитер</p>
                            <strong>760 грн</strong><br/>
                            <button>В корзину</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</main>