<footer>
    <div class="container">
        <div class="footer">
            <div class="row">
                <div class="col-6 col-sm-8">
                    <h1><strong>MaxiMarket</strong></h1>
                </div>
                <div class="col-6 col-sm-4">
                    <p>Контакты:</p>
                    <span>Phone: +380660997523</span><br/>
                    <span>Email: persyk32111@gmail.com</span><br/>
                    <span>г. Харьков, ул. Староноводницкая, 18, стр. 11</span>
                </div>
            </div>
        </div>
    </div>
</footer>