<header>
    <nav>
        <ul>
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-lg-8">
                        <div class="row justify-content-start left-nav">
                            <div class="col-1 col-md-4 col-lg-1">
                                <li class="nav-item"><a href="/index">MaxiMarket</a></li>
                            </div>
                            <div class="col-1 col-md-4 col-lg-1">
                                <li class="nav-item"><a href="/products">Товары</a></li>
                            </div>
                            <div class="col-1 col-md-4 col-lg-1 drop-trigger">
                                <li class="nav-item"><a class="" href="#">Категории</a></li>
                                <div class="drop-down">
                                    <ul>
                                        <li>Компьютеры</li>
                                        <li>Одежда</li>
                                        <li>Для спорта</li>
                                        <li>Аксессуары</li>
                                        <li>Для детей</li>
                                        <li>Другое</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-4">
                        <div class="row justify-content-center">
                            <div class="col-1 col-md-auto">
                                <li class="nav-item"><a href="/basket">Корзина</a></li>
                            </div>
                            <div class="col-1 col-md-auto">
                                <li class="nav-item"><a href="/register">Авторизация</a></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </nav>
</header>