<main>
    <div class="container">
        <div class="product">
            <div class="image">
                <img class="rounded img-fluid product-img" src="/images/products/teddy-bear.jpg"/>
            </div>
            <div class="general">
                <p>Плюшевый мишка</p>
                <strong>350 грн</strong><br/>
                <button>В корзину</button>
            </div>
            <div class="info">
                <p>Информация:</p>
                Высота игрушки, см:
                20<br/>
                Размер игрушки:
                Средние (до 50 см)<br/>
                Категория:
                Для детей<br/>
                Цвет:
                бежевый<br/>
                Гарантия:
                14 дней
            </div>
        </div>
    </div>
</main>